@import '../../styles/base';

.editor {
  @extend %board-panel;

  background-color: $colour__primary--neutral;
  height: 100%;
  position: relative;

  .input-group {
    .textarea {
      height: 100%;
      width: 100%;
    }
  }

  h3 {
    .badge {
      @extend %badge;
    }
  }

  .submit {
    bottom: 10px;
    right: 20px;
    position: absolute;
  }
}
